body{
    background-color:antiquewhite;
}
.title{
    text-align: center;
}
.link{
    font-size: 15px;
}
.post{
    text-align: center;
}
.list-item{
    border-bottom: 1px solid black;
}
.smm{
    border-top: 1px solid black; 
}
.link-picture{
    font-size: 15px;  
    text-align: center;
}